
@{
    ViewData["Title"] = "RecordNotFound";
}
<div class="row">
    <div class="col-lg-12">
        <h1>Error Recored not Found...</h1>
        <a asp-controller="Home" asp-action="index" class="btn btn-primary m-1">Go Back to home Screen</a>
    </div>
</div>

