
@{
    ViewData["Title"] = "HttpStatusCodeHandler";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<figure>
    <div class="sad-mac"></div>
    <figcaption>
        <span class="sr-text">Error Code @ViewBag.ErrorCode: Not Found</span>
        <span class="e"></span>
        <span class="r"></span>
        <span class="r"></span>
        <span class="o"></span>
        <span class="r"></span>
        <span class="n"></span>
        <span class="o"></span>
        <span class="t"></span>
        <span class="f"></span>
        <span class="o"></span>
        <span class="u"></span>
        <span class="n"></span>
        <span class="d"></span>
    </figcaption>
</figure>
<a asp-controller="Home" asp-action="index" class="btn btn-primary m-1">Go Back to home Screen</a>


